
.notepad-container{
    border: solid;
    width: 41vw;
    height: 37vh;
    border-radius: 20px;
    background-color: rgba(100, 60, 255, 0.04);
    border: 1px solid rgba(100, 60, 255, 0.3);
}


textarea {
    background-color: transparent;
    width: 96%;
    height: 50%;
    color: rgba(230,230,255,0.9);
    resize: none;
    border: none;
    outline: none;
    margin-left: 5px;
    margin-right: 5px;
}