.size-6 {
    height: 30px;
    width: 40px;
}



.header{
    display: flex;
    flex-direction: row;
    width: 95vw;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    padding: 16px;
    margin: 10px;
}

.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(63, 41, 186);
    font-weight: 600;
    font-size: 16px;
}

.guest-user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(63, 41, 186);
    font-weight: 500;
    font-size: 14px;
}

main {
    display: flex;
    flex-direction: row;
    width: 98vw;
}

.components {
    width: 90vw;
    height: 76vh;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    gap: 3px;
}

.right-side-component {
    display: flex;
    flex-direction: column ;
    gap: 13px;
    width: 30%;
}

.guest-button {
    height: 80px;
    width: 80px;
    padding-top: 28px;
}

.sign-out-button {
    width: 80px;
}