
.canvas-modal-container {
    display: flex;
    flex-direction: row;
    height: 1000px;
    justify-content: space-around;
}

.canvas-modal-container .input-link {
    height: 30px;
    width: 200px;
}

.canvas-modal-container .input-close {
    border-radius: 100px;
    height: 70px;
    width: 70px;
}

.canvas-modal-container .input-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 80px;
    align-items: center;
    gap: 10px;
}

.canvas-modal-container .input-container-button {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.canvas-modal-container .input-container-button .input-send {
    border-radius: 100px;
    height: 70px;
    width: 70px;
}