.calendar-page {
    display: flex;
    flex-direction: row;
    gap: 30px;
}


.calendar-component-container {

    border: 1px solid rgba(100, 60, 255, 0.18);
    height: 76vh;
    width: 55vw;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: rgba(100, 60, 255, 0.04);
}

.calendar-header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.day-of-week {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 7 equal columns */
  font-weight: bold;
  margin-bottom: 5px;
}

.day {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 7 equal columns */
  gap: 5px; /* spacing between cells */
  margin-left: 14px;
  list-style-type: none;
}