.popup-container {
    height: 76vh;
    width: 25vw;
    border: 1px solid rgba(100, 60, 255, 0.18);
    border-radius: 20px;
    background-color: rgba(100, 60, 255, 0.04);
}

h2{
    color: rgb(100, 60, 255);
    font-size: 30px;
    font-weight: 500;
    font-family: inherit;
}

.popup-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.popup-button {
    height: 40px;
    width: 40px;
}