.popup-container {
    height: 76vh;
    width: 25vw;
    border: 1px solid rgba(100, 60, 255, 0.18);
    border-radius: 20px;
    background-color: rgba(100, 60, 255, 0.04);
}

h2{
    color: rgb(100, 60, 255);
    font-size: 30px;
    font-weight: 500;
    font-family: inherit;
}

.popup-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.popup-button {
    height: 40px;
    width: 40px;
}

.input-field{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.event-item {
    word-wrap: break-word;
    overflow-wrap: anywhere;
    color: rgb(243, 238, 238);
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-right: 10px; 
}


.event-button .delete-button {
    height: 30px;
    width: 65px;
}

.event-button .edit-button {
    height: 30px;
    width: 65px;
}

.input-field input {
    padding: 10px 12px;
    border-radius: 8px;
    border: 1px solid #333;
    background: #2f2e34;
    color: #fff;
    box-sizing: border-box;
    height: 50px;
    color: grey;
}
